#!/usr/bin/env bash

if command_exists kitten; then
        alias ks="kitten ssh"
        alias kicat="kitten icat"
fi

alias c=bat
alias n=nvim
alias grep="batgrep --hidden"
alias man=batman

# WSL only aliases
if [ $(whoami) = "wsl" ]; then
        perf_path=$(find /usr/lib/linux-tools -name perf)
        alias perf=$perf_path
fi
