#!/usr/bin/env bash

if command_exists kitten; then
        alias ks="kitten ssh"
        alias kicat="kitten icat"
fi

# Only add these aliases if the base command exists
command_exists bat	&& alias c=bat
command_exists vim	&& alias v=vim
command_exists nvim	&& alias n=nvim
command_exists batgrep	&& alias grep="batgrep --hidden"
command_exists batman	&& alias man=batman

# WSL only aliases
if [ $(whoami) = "wsl" ]; then
        perf_path=$(find /usr/lib/linux-tools -name perf)
        alias perf=$perf_path
fi
