#!/usr/bin/env bash

command_exists() {
        if command -v "$1" &>/dev/null; then
                true
        else
                false
        fi
}

apt_full_update() {
        sudo apt update
        sudo apt upgrade $1
        sudo apt autoremove $1
        sudo apt autoclean
}

# SSH variant that open ZSH directly
zssh() {
        ssh -t $@ zsh
}

# Custom neovide command (only) for WSL (use neovide.exe from windows)
if ! command_exists neovide; then
        neovide() {
                if [ $# -eq 0 ]; then
                        neovide.exe --wsl --opengl --maximized --neovim-bin /snap/bin/nvim
                else
                        neovide.exe --wsl --opengl --maximized --neovim-bin /snap/bin/nvim -- -c :e "$1"
                fi
        }
fi

# Shortcut to launch a kitty session with fzf
kitty_session() {
        BUFFER="kitty --detach --session sessions/\$(ls ~/dotfiles/kitty/sessions | fzf) --start-as fullscreen && exit"
        zle accept-line
}
zle -N kitty_session
bindkey "^S" kitty_session
