#!/usr/bin/env bash

command_exists() {
        if command -v "$1" &>/dev/null; then
                true
        else
                false
        fi
}

apt_full_update() {
        sudo apt update
        sudo apt upgrade $1
        sudo apt autoremove $1
        sudo apt autoclean
}

# SSH variant that open ZSH directly
zssh() {
        ssh -t $@ zsh
}

# Custom neovide command (only) for WSL (use neovide.exe from windows)
if ! command_exists neovide; then
        neovide() {
                if [ $# -eq 0 ]; then
                        neovide.exe --wsl --opengl --maximized --neovim-bin /snap/bin/nvim
                else
                        neovide.exe --wsl --opengl --maximized --neovim-bin /snap/bin/nvim -- -c :e "$1"
                fi
        }
fi

# Shortcut to launch a kitty session with fzf
kitty_session() {
        BUFFER="kitty --detach --session sessions/\$(ls ~/dotfiles/kitty/sessions | fzf) --start-as fullscreen && exit"
        zle accept-line
}
zle -N kitty_session
bindkey "^S" kitty_session

# CSES auto tests
cses_python_test() {
        if [ -z ${CODEFILE+x} ]; then
                CODEFILE=main.py
        fi
        python $CODEFILE <$1.in && echo "---" && cat $1.out
        unset CODEFILE
}

cses_python_diff() {
        if [ -z ${CODEFILE+x} ]; then
                CODEFILE=main.py
        fi
        python $CODEFILE <$1.in >tmp.out
        diff tmp.out $1.out
        rm tmp.out
        unset CODEFILE
}

cses_pypy3_test() {
        if [ -z ${CODEFILE+x} ]; then
                CODEFILE=main_pypy.py
        fi
        pypy3 $CODEFILE <$1.in && echo "---" && cat $1.out
        unset CODEFILE
}

cses_pypy3_diff() {
        if [ -z ${CODEFILE+x} ]; then
                CODEFILE=main_pypy.py
        fi
        pypy3 $CODEFILE <$1.in >tmp.out
        diff tmp.out $1.out
        rm tmp.out
        unset CODEFILE
}
