[include]
	path = ~/dotfiles/delta/themes.gitconfig
[user]
	email = pititcowboy@gmail.com
	name = Mityno
[core]
	pager = delta
	excludesfile = ~/.config/.global-gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
	features = arctic-fox
	navigate = true
	side-by-side = true
	true-color = always
[merge]
	conflictStyle = zdiff3
